<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- {{route}} this is the placeholder that Flask uses to replace the route is sent on render_template -->
    <h1>Login Form</h1>
    <form method="POST" action="{{route}}">
        <label>Username:</label><br>
        <input type="text" name="username"><br><br>
        <label>Password:</label><br>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>