<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- {{route}} this is the placeholder that Flask uses to replace the route is sent on render_template -->
    <div class="login-container">
        <h1>Login Form for SQL Injection Demo</h1>
        <form method="POST" action="{{route}}">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">

            <label for="password">Password:</label>
            <input type="text" name="password" id="password">

            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>